body {
    width: 600px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

button {
    color: white;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 7px 
}

img {
    width: 300px
}

p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px
}